// Font Family
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600&display=swap");
$fontBaloo: "Baloo 2", cursive;
$fontMontserrat: "Montserrat", sans-serif;

// Theme Colors
$blackColor: #000000;
$whiteColor: #ffffff;

$themePrimary: #00aeef;
$themeSecondary: #543ab7;
$themeHeading: #2f3336;
$themeTextDark: #2e3235;
$themeTextGrey1: #889198;
$themeTextGrey2: #6f7a82;
$themeTextGrey3: #5e707d;
$themeTextHighlight: #01efd9;

$themeBackground1: #f6f6f6;
$themeBackground2: #f8f9fb;
$themeBackgroundOpac: rgba(242, 245, 248, 0.66);
