// Font Family
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap");
$fontGaramond: "EB Garamond", serif;
$fontPoppins: "Poppins", sans-serif;

// Theme Colors
$blackColor: #000000;
$whiteColor: #ffffff;

$themePrimary: #00aeef;
$themeHeading: #2f3336;
$themeTextDark: #2e3235;
$themeTextGrey1: #889198;
$themeTextGrey2: #6f7a82;
$themeTextGrey3: #5e707d;

$themeBackground1: #f6f6f6;
$themeBackground2: #f8f9fb;
$themeBackgroundOpac: rgba(242, 245, 248, 0.66);
