// Button Animation Start
.btn-animate {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color: #aa00ff;
  border: transparent;
  z-index: 1;
  border-radius: 4px;
}
.btn-animate::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.btn-animate:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn-animate::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #59c9ff;
  z-index: -1;
  transition: transform 0.3s ease;
  border-radius: 4px;
}
// Button Animation End

// Dropdown Animation Start
@keyframes dropdownSlideDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes buttonSlideRight {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.dropdown {
  .dropdown-menu {
    box-shadow: 0 6px 12px #0000002d;
    border-radius: 0;
    border: none;
    display: none;

    li {
      margin: 8px auto;
      .dropdown-item {
        color: #19506d;
        // font-family: $fontLato;
        font-size: 14px;
        text-transform: uppercase;
        transition: 0.3s ease-out;
        &:hover {
          color: #267ae9;
        }
        &:active {
          background-color: #fff;
        }
      }
    }
  }
  &:hover {
    .dropdown-animated {
      display: block;
      // margin-top: 10px;
      transform-origin: top;
      animation: dropdownSlideDown 500ms ease-in-out forwards;
    }
  }
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}
// Dropdown Animation End

// Banner Waves Start
.banner {
  //   position: relative;
  //   text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  //   color: white;
  .inner-banner {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
    .parallax > use {
      animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }
    .parallax > use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
    }
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  }
}

// Banner Waves End

// List Style{
  %list-style {
    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border: 2px solid #2eaeff;
      border-radius: 50%;
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }