// Footer Start
.footer {
  background-color: $themeBackground2;
  .top-footer {
    padding: 50px 0 50px;
    // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    //   0 1px 5px rgba(0, 0, 0, 0.08);
    @media (min-width: 992px) {
      padding: 100px 0 100px;
    }
    .footer-brand {
      display: inline-block;
      font-family: $fontBaloo;
      font-size: 26px;
      font-weight: 600;
      color: $themePrimary;
      margin-bottom: 20px;
      @media (min-width: 992px) {
        font-size: 34px;
      }
    }
    .address {
      color: $themeTextGrey3;
      font-size: 14px;
      line-height: 35px;
    }
    .social-icons {
      .facebook {
        border: 2px solid #3b5998;
        color: #3b5998;
        &::before {
          box-shadow: inset 0 0 0 0 #3b5998;
        }
        &:hover {
          background-color: #3b5998;
          color: $whiteColor;
          &::before {
            box-shadow: inset 0 0 0 32px #3b5998;
          }
        }
      }
      .instagram {
        border-color: #d82d7e;
        &::before {
          // box-shadow: inset 0 0 0 0 #d82d7e;
        }
        svg {
          .insta-color1 {
            stop-color: #fa8f21;
          }
          .insta-color2 {
            stop-color: #d82d7e;
          }
          .insta-color3 {
            stop-color: #8c3aaa;
          }
        }
        &:hover {
          background-color: #d82d7e;
          &::before {
            // box-shadow: inset 0 0 0 32px #d82d7e;
          }
          svg {
            .insta-color1,
            .insta-color2,
            .insta-color3 {
              stop-color: $whiteColor;
            }
          }
        }
      }
      .twitter {
        border: 2px solid #00acee;
        color: #00acee;
        &::before {
          box-shadow: inset 0 0 0 0 #00acee;
        }
        &:hover {
          background-color: #00acee;
          color: $whiteColor;
          &::before {
            box-shadow: inset 0 0 0 32px #00acee;
          }
        }
      }
      .linkedin {
        border: 2px solid #0077b5;
        color: #0077b5;
        &::before {
          box-shadow: inset 0 0 0 0 #0077b5;
        }
        &:hover {
          background-color: #0077b5;
          color: $whiteColor;
          &::before {
            box-shadow: inset 0 0 0 32px #0077b5;
          }
        }
      }
    }
    h5 {
      display: inline-block;
      position: relative;
      color: $themeTextGrey3;
      margin-bottom: 32px;
      line-height: 42px;
      &::after {
        content: "";
        width: 45px;
        height: 2px;
        background-color: $themePrimary;
        position: absolute;
        left: 0;
        bottom: 4px;
      }
    }
    .contact {
      a {
        display: flex;
        align-items: center;
        color: $themeTextGrey3;
        font-size: 14px;
        margin-bottom: 15px;
        transition: all 0.4 ease;
        .icon-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 28px;
          font-size: 12px;
          color: $themePrimary;
          border: 2px solid $themePrimary;
          border-radius: 50%;
          margin-right: 10px;
          transition: all 0.4 ease;
        }
        &:hover {
          color: $themePrimary;
          .icon-wrap {
            color: $whiteColor;
            background-color: $themePrimary;
          }
        }
      }
    }
    .service-link {
      a {
        display: block;
        font-size: 14px;
        color: $themeTextGrey3;
        margin-bottom: 15px;
        position: relative;
        padding-left: 15px;
        transition: all 0.4s ease;
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border: 2px solid $themeTextGrey3;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.4s ease;
        }
        &:hover {
          color: $themePrimary;
          &::before {
            border-color: $themePrimary;
          }
        }
        @media(min-width: 576px) and (max-width: 767px){
          font-size: 13px;
        }
      }
    }
  }
  .sub-footer {
    background-color: $whiteColor;
    padding: 15px 0;
    height: 80px;
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
      color: #6f7a82;
      font-size: 14px;
      font-weight: 500;
      a {
        color: #6f7a82;
        transition: all 0.4s ease;
        &:hover {
          color: $themePrimary;
        }
      }
    }
  }
  // .product-services {
  //   list-style-type: none;
  //   li {
  //     position: relative;
  //     @extend %list-style;
  //     a {
  //       display: inline-block;
  //       font-family: $fontMontserrat;
  //       font-size: 14px;
  //       line-height: 3;
  //       color: #595f7c;
  //       white-space: nowrap;
  //       transition: 0.4s ease-in;
  //       &:hover {
  //         color: #fff;
  //       }
  //     }
  //   }
  // }
}
// Footer End
