// Footer Start
.footer {
  background-color: #0c112a;

  .bg-blue {
    background-color: #267ae9;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #0c112a;
    transition: 0.4s ease-in;
    @media (min-width: 992px) {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: none;
    }
    a {
      display: flex;
      align-items: center;
      font-family: $fontPoppins;
      font-size: 18px;
      font-weight: bold;
      line-height: 56px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.4s ease-in;
      padding: 0 10px;
      @media (min-width: 992px) {
        justify-content: center;
      }
      &:hover {
        color: #0c112a;
      }
    }
  }

  .brand-logo {
    display: inline-block;
    color: #fff;
    margin-bottom: 36px;
    font-style: italic;
  }
  p {
    font-family: $fontPoppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #595f7c;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  h3 {
    font-family: $fontPoppins;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 1px;
    margin: 0 0 22px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
  }

  .country-dropdown {
    .btn {
      font-family: $fontPoppins;
      font-size: 14px;
      color: #fff;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0;
      img {
        width: 32px;
        margin-right: 10px;
      }
      &::after {
        display: none;
      }
      svg {
        transform: rotate(-90deg);
        margin-left: 20px;
      }
    }
    .dropdown-menu {
      box-shadow: 0 6px 12px #0000002d;
      border-radius: 0;
      border: none;
      li {
        margin: 8px auto;
        .dropdown-item {
          font-family: $fontPoppins;
          font-size: 14px;
          color: #19506d;
          text-transform: uppercase;
          transition: 0.3s ease-out;
          &:hover {
            color: #267ae9;
          }
          &:active {
            background-color: #fff;
          }
        }
      }
    }
  }
  .product-services {
    list-style-type: none;
    li {
      position: relative;
      @extend %list-style;
      a {
        display: inline-block;
        font-family: $fontPoppins;
        font-size: 14px;
        line-height: 3;
        color: #595f7c;
        white-space: nowrap;
        transition: 0.4s ease-in;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .row.row-style {
    border-top: 1px solid #1a2140;
    padding-top: 40px;
  }

  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 992px) {
      justify-content: center;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #192043;
      color: #fff;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: #42b6ff;
      }
    }
  }
  .subscribe-wrap {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    label {
      font-family: $fontPoppins;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      width: 150px;
      span {
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 4px;
      }
      small {
        text-transform: capitalize;
        font-weight: 300;
        font-size: 14px;
        color: #595f7c;
        line-height: 1;
      }
    }
    .input-group {
      input {
        font-family: $fontPoppins;
        background: #121a3e;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        box-shadow: none;
      }
      button {
        font-family: $fontPoppins;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background: #121a3e;
        border: 1px solid #929292;
        box-shadow: none;
        transition: 0.4s ease-in;
        &:hover {
          background-color: #267ae9;
          border-color: #267ae9;
        }
      }
    }
  }
  .sub-footer {
    background-color: #090d20;
    padding: 30px 0 0;
    p {
      text-align: center;
    }

    .tech-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 20px 0;
      img {
        margin: 8px;
        width: 42px;
      }
    }
    .foot-links {
      a {
        display: inline-block;
        font-family: $fontPoppins;
        font-size: 14px;
        color: #42b6ff;
        transition: 0.4s ease-in;
        margin-bottom: 10px;
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
        &:hover {
          color: darken($color: #42b6ff, $amount: 10%);
        }
      }
      span {
        color: #595f7c;
        margin: 0 8px;
      }
    }
    .copyrights {
      border-top: 1px solid #0c112a;
      line-height: 25px;
      padding: 20px 0;
      color: #595f7c;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
}
// Footer End
