// Banner Waves Start
@keyframes moveForever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
// Banner Text Animation
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
}

.banner {
  background: linear-gradient(
    60deg,
    rgba($themeSecondary, 1) 0%,
    rgba($themePrimary, 1) 100%
  );
  height: 100vh;
  @media only screen and (max-width: 991px) and (hover: none) {
    height: calc(100vh - 56px);
  }
  .inner-banner {
    width: 100%;
    height: 100%;
    .banner-content {
      width: 100%;
      height: 100%;
      position: relative;
      .banner-title {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        .banner-text {
          display: inline-block;
          width: 100%;
          font-family: $fontBaloo;
          font-size: 35px;
          font-weight: 600;
          text-transform: uppercase;
          color: $whiteColor;
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          transform: translateY(-50px);
          opacity: 0;
          animation: titleAnimation 4s ease infinite;
          animation-fill-mode: forwards;
          animation-delay: 0.6s;
          &:first-child {
            animation-delay: 0.7s;
          }
          &:last-child {
            color: $themeTextYellow;
            animation-delay: 0.5s;
          }
          @media (min-width: 576px) {
            font-size: 45px;
          }
          @media (min-width: 992px) {
            font-size: 65px;
          }
        }
      }
    }
  }
  .waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    height: 20vh;
    .parallax > use {
      animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }
    .parallax > use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
    }
  }
}
// Banner Waves End

// About Section Start
.about-us {
  background-color: $whiteColor;
  padding: 50px 0 20px;
  @media (min-width: 992px) {
    padding: 100px 0 40px;
  }
  h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    color: $themeTextDark;
    text-align: justify;
    @media (min-width: 992px) {
      font-size: 24px;
      line-height: 50px;
      padding-right: 20px;
    }
  }
  p {
    color: $themeTextGrey2;
    line-height: 35px;
    text-align: justify;
  }
}

// Services Start
.services {
  padding: 50px 0 20px;
  @media (min-width: 992px) {
    padding: 100px 0 40px;
  }
  .services-card {
    background-color: $whiteColor;
    padding: 30px 15px;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem lighten($color: $blackColor, $amount: 85);
    transition: all 0.4s ease-out;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 410px;
    max-width: 100%;
    margin: auto;
    .card-overlay {
      width: 160px;
      height: 160px;
      position: absolute;
      border-radius: 50%;
      background: $themePrimary;
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      transition: transform 0.4s ease-out;
    }
    .icon-wrap {
      margin: auto;
      margin-bottom: 40px;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid $themePrimary;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: all 0.4s ease-out;
      &::after {
        content: "";
        width: 160px;
        height: 160px;
        display: block;
        position: absolute;
        background: $themePrimary;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.4s ease-out;
      }
      svg {
        width: 100px;
        height: 100px;
        fill: $whiteColor;
        transition: all 0.4s ease-out;
        z-index: 9;
        transform: translateZ(0);
      }
    }
    .card-content {
      h3 {
        font-family: $fontBaloo;
        color: $themeHeading;
        transition: all 0.4s ease-out;
      }
      p {
        color: $themeTextGrey3;
        margin: 20px auto;
        transition: all 0.4s ease-out;
      }
      a {
        position: relative;
        font-family: $fontBaloo;
        font-size: 18px;
        color: $themePrimary;
        text-transform: capitalize;
        transition: all 0.4s ease-out;
        letter-spacing: 0.4px;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          background: $whiteColor;
          transform: scaleX(0);
          transition: transform 0.4s ease;
        }
      }
    }
    &:hover {
      background-color: $themePrimary;
      transform: translateY(-5px) translateZ(0);
      box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px lighten($color: $blackColor, $amount: 85);
      .card-overlay {
        transform: scale(6) translateZ(0);
      }
      .icon-wrap {
        background-color: $themePrimary;
        border-color: $whiteColor;
        &::after {
          background-color: $whiteColor;
        }
        svg {
          fill: $themePrimary;
        }
      }
      .card-content {
        h3 {
          color: $whiteColor;
        }
        p {
          color: $whiteColor;
        }
        a {
          color: $whiteColor;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
// Services End
