// Preset Styles
html {
  overflow-x: hidden;
}
html,
body {
  font-family: $fontMontserrat;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: lighten($color: $themeSecondary, $amount: 10%);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $themeSecondary;
  }
}
a {
  text-decoration: none;
  display: inline-block;
}

%flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
