@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600&display=swap");
html {
  overflow-x: hidden;
  overscroll-behavior: contain;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 4px;
}

html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background: #7159cb;
}

html ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:hover {
  background: #543ab7;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header .sub-header .container, .header .mobile-toggle .container, .header .offcanvas-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
}

.loader .center {
  width: 40px;
  height: 40px;
  background: #00aeef;
  border-radius: 50%;
  -webkit-animation: center 3.2s ease-in-out infinite;
       -o-animation: center 3.2s ease-in-out infinite;
          animation: center 3.2s ease-in-out infinite;
}

.loader .item {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  background: #00aeef;
  border-radius: 50%;
}

.item-1 {
  -webkit-animation: anim-1 3.2s ease-in-out infinite 0.2s;
       -o-animation: anim-1 3.2s ease-in-out infinite 0.2s;
          animation: anim-1 3.2s ease-in-out infinite 0.2s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-1 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(45deg) translateX(40px) scale(1);
            transform: rotate(45deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(45deg) translateX(0) scale(1.5);
            transform: rotate(45deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-1 {
  0%,
  60%,
  100% {
    -o-transform: rotate(45deg) translateX(40px) scale(1);
       transform: rotate(45deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(45deg) translateX(0) scale(1.5);
       transform: rotate(45deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-1 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(45deg) translateX(40px) scale(1);
         -o-transform: rotate(45deg) translateX(40px) scale(1);
            transform: rotate(45deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(45deg) translateX(0) scale(1.5);
         -o-transform: rotate(45deg) translateX(0) scale(1.5);
            transform: rotate(45deg) translateX(0) scale(1.5);
  }
}

@-webkit-keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-o-keyframes center {
  0%,
  10%,
  90%,
  100% {
    -o-transform: scale(0.7);
       transform: scale(0.7);
  }
  45%,
  55% {
    -o-transform: scale(1);
       transform: scale(1);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.item-2 {
  -webkit-animation: anim-2 3.2s ease-in-out infinite 0.4s;
       -o-animation: anim-2 3.2s ease-in-out infinite 0.4s;
          animation: anim-2 3.2s ease-in-out infinite 0.4s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-2 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(90deg) translateX(40px) scale(1);
            transform: rotate(90deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(90deg) translateX(0) scale(1.5);
            transform: rotate(90deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-2 {
  0%,
  60%,
  100% {
    -o-transform: rotate(90deg) translateX(40px) scale(1);
       transform: rotate(90deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(90deg) translateX(0) scale(1.5);
       transform: rotate(90deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-2 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(90deg) translateX(40px) scale(1);
         -o-transform: rotate(90deg) translateX(40px) scale(1);
            transform: rotate(90deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(90deg) translateX(0) scale(1.5);
         -o-transform: rotate(90deg) translateX(0) scale(1.5);
            transform: rotate(90deg) translateX(0) scale(1.5);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.item-3 {
  -webkit-animation: anim-3 3.2s ease-in-out infinite 0.6s;
       -o-animation: anim-3 3.2s ease-in-out infinite 0.6s;
          animation: anim-3 3.2s ease-in-out infinite 0.6s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-3 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(135deg) translateX(40px) scale(1);
            transform: rotate(135deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(135deg) translateX(0) scale(1.5);
            transform: rotate(135deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-3 {
  0%,
  60%,
  100% {
    -o-transform: rotate(135deg) translateX(40px) scale(1);
       transform: rotate(135deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(135deg) translateX(0) scale(1.5);
       transform: rotate(135deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-3 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(135deg) translateX(40px) scale(1);
         -o-transform: rotate(135deg) translateX(40px) scale(1);
            transform: rotate(135deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(135deg) translateX(0) scale(1.5);
         -o-transform: rotate(135deg) translateX(0) scale(1.5);
            transform: rotate(135deg) translateX(0) scale(1.5);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.item-4 {
  -webkit-animation: anim-4 3.2s ease-in-out infinite 0.8s;
       -o-animation: anim-4 3.2s ease-in-out infinite 0.8s;
          animation: anim-4 3.2s ease-in-out infinite 0.8s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-4 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(180deg) translateX(40px) scale(1);
            transform: rotate(180deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(180deg) translateX(0) scale(1.5);
            transform: rotate(180deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-4 {
  0%,
  60%,
  100% {
    -o-transform: rotate(180deg) translateX(40px) scale(1);
       transform: rotate(180deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(180deg) translateX(0) scale(1.5);
       transform: rotate(180deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-4 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(180deg) translateX(40px) scale(1);
         -o-transform: rotate(180deg) translateX(40px) scale(1);
            transform: rotate(180deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(180deg) translateX(0) scale(1.5);
         -o-transform: rotate(180deg) translateX(0) scale(1.5);
            transform: rotate(180deg) translateX(0) scale(1.5);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.item-5 {
  -webkit-animation: anim-5 3.2s ease-in-out infinite 1s;
       -o-animation: anim-5 3.2s ease-in-out infinite 1s;
          animation: anim-5 3.2s ease-in-out infinite 1s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-5 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(225deg) translateX(40px) scale(1);
            transform: rotate(225deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(225deg) translateX(0) scale(1.5);
            transform: rotate(225deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-5 {
  0%,
  60%,
  100% {
    -o-transform: rotate(225deg) translateX(40px) scale(1);
       transform: rotate(225deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(225deg) translateX(0) scale(1.5);
       transform: rotate(225deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-5 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(225deg) translateX(40px) scale(1);
         -o-transform: rotate(225deg) translateX(40px) scale(1);
            transform: rotate(225deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(225deg) translateX(0) scale(1.5);
         -o-transform: rotate(225deg) translateX(0) scale(1.5);
            transform: rotate(225deg) translateX(0) scale(1.5);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.item-6 {
  -webkit-animation: anim-6 3.2s ease-in-out infinite 1.2s;
       -o-animation: anim-6 3.2s ease-in-out infinite 1.2s;
          animation: anim-6 3.2s ease-in-out infinite 1.2s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-6 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(270deg) translateX(40px) scale(1);
            transform: rotate(270deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(270deg) translateX(0) scale(1.5);
            transform: rotate(270deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-6 {
  0%,
  60%,
  100% {
    -o-transform: rotate(270deg) translateX(40px) scale(1);
       transform: rotate(270deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(270deg) translateX(0) scale(1.5);
       transform: rotate(270deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-6 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(270deg) translateX(40px) scale(1);
         -o-transform: rotate(270deg) translateX(40px) scale(1);
            transform: rotate(270deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(270deg) translateX(0) scale(1.5);
         -o-transform: rotate(270deg) translateX(0) scale(1.5);
            transform: rotate(270deg) translateX(0) scale(1.5);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.item-7 {
  -webkit-animation: anim-7 3.2s ease-in-out infinite 1.4s;
       -o-animation: anim-7 3.2s ease-in-out infinite 1.4s;
          animation: anim-7 3.2s ease-in-out infinite 1.4s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-7 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(315deg) translateX(40px) scale(1);
            transform: rotate(315deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(315deg) translateX(0) scale(1.5);
            transform: rotate(315deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-7 {
  0%,
  60%,
  100% {
    -o-transform: rotate(315deg) translateX(40px) scale(1);
       transform: rotate(315deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(315deg) translateX(0) scale(1.5);
       transform: rotate(315deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-7 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(315deg) translateX(40px) scale(1);
         -o-transform: rotate(315deg) translateX(40px) scale(1);
            transform: rotate(315deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(315deg) translateX(0) scale(1.5);
         -o-transform: rotate(315deg) translateX(0) scale(1.5);
            transform: rotate(315deg) translateX(0) scale(1.5);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.item-8 {
  -webkit-animation: anim-8 3.2s ease-in-out infinite 1.6s;
       -o-animation: anim-8 3.2s ease-in-out infinite 1.6s;
          animation: anim-8 3.2s ease-in-out infinite 1.6s;
  -webkit-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes anim-8 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(360deg) translateX(40px) scale(1);
            transform: rotate(360deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(360deg) translateX(0) scale(1.5);
            transform: rotate(360deg) translateX(0) scale(1.5);
  }
}

@-o-keyframes anim-8 {
  0%,
  60%,
  100% {
    -o-transform: rotate(360deg) translateX(40px) scale(1);
       transform: rotate(360deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -o-transform: rotate(360deg) translateX(0) scale(1.5);
       transform: rotate(360deg) translateX(0) scale(1.5);
  }
}

@keyframes anim-8 {
  0%,
  60%,
  100% {
    -webkit-transform: rotate(360deg) translateX(40px) scale(1);
         -o-transform: rotate(360deg) translateX(40px) scale(1);
            transform: rotate(360deg) translateX(40px) scale(1);
  }
  10%,
  50% {
    -webkit-transform: rotate(360deg) translateX(0) scale(1.5);
         -o-transform: rotate(360deg) translateX(0) scale(1.5);
            transform: rotate(360deg) translateX(0) scale(1.5);
  }
}

@keyframes center {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
  45%,
  55% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.dropdown .dropdown-menu {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px #0000002d;
          box-shadow: 0 6px 12px #0000002d;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.dropdown .dropdown-menu li {
  margin: 8px auto;
}

.dropdown .dropdown-menu li .dropdown-item {
  color: #2e3235;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.dropdown .dropdown-menu li .dropdown-item:hover {
  background-color: #00aeef;
  color: #ffffff;
}

.dropdown .dropdown-menu li .dropdown-item:active {
  background-color: #ffffff;
}

.dropdown i {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-left: 4px;
  vertical-align: middle;
}

.dropdown:hover i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown:hover .dropdown-menu {
  height: 156px;
}

.dropdown .dropdown-toggle::after {
  display: none;
}

@-webkit-keyframes moveForever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@-o-keyframes moveForever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes moveForever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@-webkit-keyframes titleAnimation {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
            clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}

@-o-keyframes titleAnimation {
  0% {
    -o-transform: translateY(-50px);
       transform: translateY(-50px);
    opacity: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    -o-transform: translateY(0);
       transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    -o-transform: translateY(0);
       transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    -o-transform: translateY(50px);
       transform: translateY(50px);
    opacity: 0;
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}

@keyframes titleAnimation {
  0% {
    -webkit-transform: translateY(-50px);
         -o-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    -webkit-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    -webkit-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    -webkit-transform: translateY(50px);
         -o-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
            clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}

.banner {
  background: -webkit-linear-gradient(30deg, #543ab7 0%, #00aeef 100%);
  background: -o-linear-gradient(30deg, #543ab7 0%, #00aeef 100%);
  background: linear-gradient(60deg, #543ab7 0%, #00aeef 100%);
  height: 100vh;
}

.banner .inner-banner {
  width: 100%;
  height: 100%;
}

.banner .inner-banner .banner-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .inner-banner .banner-content .banner-title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.banner .inner-banner .banner-content .banner-title .banner-text {
  display: inline-block;
  width: 100%;
  font-family: "Baloo 2", cursive;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
       -o-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  -webkit-animation: titleAnimation 4s ease infinite;
       -o-animation: titleAnimation 4s ease infinite;
          animation: titleAnimation 4s ease infinite;
  -webkit-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
       -o-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.banner .inner-banner .banner-content .banner-title .banner-text:first-child {
  -webkit-animation-delay: 0.7s;
       -o-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.banner .inner-banner .banner-content .banner-title .banner-text:last-child {
  color: #ffe221;
  -webkit-animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@media (min-width: 576px) {
  .banner .inner-banner .banner-content .banner-title .banner-text {
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  .banner .inner-banner .banner-content .banner-title .banner-text {
    font-size: 65px;
  }
}

.banner .waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  height: 20vh;
}

.banner .waves .parallax > use {
  -webkit-animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
       -o-animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.banner .waves .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
       -o-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
       -o-animation-duration: 7s;
          animation-duration: 7s;
}

.banner .waves .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
       -o-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
       -o-animation-duration: 10s;
          animation-duration: 10s;
}

.banner .waves .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
       -o-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
       -o-animation-duration: 13s;
          animation-duration: 13s;
}

.banner .waves .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
       -o-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
       -o-animation-duration: 20s;
          animation-duration: 20s;
}

.about-us {
  background-color: #000000;
  padding: 50px 0;
}

@media (min-width: 992px) {
  .about-us {
    padding: 100px 0;
  }
}

.about-us .section-title {
  font-family: "Baloo 2", cursive;
  font-size: 34px;
  color: #5e707d;
  position: relative;
  margin-bottom: 18px;
}

.about-us .section-title::after {
  content: "";
  width: 45px;
  height: 3px;
  background-color: #00aeef;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (min-width: 992px) {
  .about-us .section-title::after {
    width: 60px;
  }
}

@media (min-width: 992px) {
  .about-us .section-title {
    font-size: 40px;
    margin-bottom: 24px;
  }
}

.about-us h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  color: #2e3235;
  text-align: justify;
}

@media (min-width: 992px) {
  .about-us h3 {
    font-size: 24px;
    line-height: 50px;
    padding-right: 20px;
  }
}

.about-us p {
  color: #6f7a82;
  line-height: 35px;
  text-align: justify;
}

.footer .product-services li::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #00aeef;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  -webkit-transition: opacity 0.2s linear, visibility 0.3s, width 4s ease-in;
  -o-transition: opacity 0.2s linear, visibility 0.3s, width 4s ease-in;
  transition: opacity 0.2s linear, visibility 0.3s, width 4s ease-in;
}

.screen-darken.active {
  z-index: 10;
  -webkit-transition: opacity 0.2s ease, width 0s;
  -o-transition: opacity 0.2s ease, width 0s;
  transition: opacity 0.2s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.header {
  position: relative;
}

.header .sub-header {
  background-color: transparent;
  padding: 12px 0;
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 9;
}

.header .sub-header .container {
  font-size: 14px;
}

.header .sub-header .container .social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header .sub-header .container .social-icons a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-transform: capitalize;
  padding: 4px;
  margin: 0 4px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .sub-header .container .social-icons a:hover {
  background-color: #ffffff;
}

.header .sub-header .container .social-icons a:first-child {
  margin-left: 0;
}

.header .sub-header .container .social-icons a:last-child {
  margin-right: 0;
}

@media (min-width: 992px) {
  .header .sub-header .container .social-icons a {
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin: 0 6px;
  }
}

.header .sub-header .container .social-icons a.facebook:hover {
  color: #3b5998;
}

.header .sub-header .container .social-icons a.instagram svg {
  width: 12px;
  height: 12px;
}

.header .sub-header .container .social-icons a.instagram svg stop {
  stop-color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 992px) {
  .header .sub-header .container .social-icons a.instagram svg {
    width: 14px;
    height: 14px;
  }
}

.header .sub-header .container .social-icons a.instagram:hover svg .insta-color1 {
  stop-color: #e09b3d;
}

.header .sub-header .container .social-icons a.instagram:hover svg .insta-color2 {
  stop-color: #c74c4d;
}

.header .sub-header .container .social-icons a.instagram:hover svg .insta-color3 {
  stop-color: #c21975;
}

.header .sub-header .container .social-icons a.instagram:hover svg .insta-color4 {
  stop-color: #7024c4;
}

.header .sub-header .container .social-icons a.twitter:hover {
  color: #00acee;
}

.header .sub-header .container .social-icons a.linkedin:hover {
  color: #0077b5;
}

.header .sub-header .container .contacts a {
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .sub-header .container .contacts a i {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .sub-header .container .contacts a:hover i {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header .sub-header-scroll {
  -webkit-transform: translateY(-48px);
      -ms-transform: translateY(-48px);
       -o-transform: translateY(-48px);
          transform: translateY(-48px);
}

.header .mobile-toggle {
  width: 100%;
  position: fixed;
  top: 48px;
  z-index: 9;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .mobile-toggle .container .navbar-brand {
  font-family: "Baloo 2", cursive;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .mobile-toggle .container .navbar-toggler {
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 992px) {
  .header .mobile-toggle {
    display: none;
  }
}

.header .mobile-toggle-dark {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.08);
  top: 0;
}

.header .mobile-toggle-dark .container .navbar-brand {
  color: #00aeef;
}

.header .mobile-toggle-dark .container .navbar-toggler {
  color: #00aeef;
}

.header .navbar {
  width: 100%;
  position: fixed;
  top: 56px;
  z-index: 9;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .navbar .navbar-nav .nav-item {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 992px) {
  .header .navbar .navbar-nav .nav-item {
    margin: 0 12px;
  }
}

.header .navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 14px;
  color: #2e3235;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  letter-spacing: 0.4px;
}

.header .navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: calc(100% - 12px);
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease, -o-transform 0.4s ease;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
}

@media (min-width: 992px) {
  .header .navbar .navbar-nav .nav-item .nav-link {
    color: #ffffff;
  }
}

.header .navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: 500;
}

.header .navbar .navbar-nav .nav-item .nav-link.active::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease, -o-transform 0.4s ease;
}

.header .navbar .btn-login {
  position: relative;
  width: 178px;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .navbar .btn-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  margin-left: -150px;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  z-index: -1;
}

.header .navbar .btn-login:hover {
  color: #00aeef;
}

.header .navbar .btn-login:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em #ffffff;
          box-shadow: inset 0 0 0 10em #ffffff;
}

@media (min-width: 992px) {
  .header .navbar .btn-login {
    color: #ffffff;
  }
}

@media (max-width: 991px) {
  .header .navbar .offcanvas-header {
    margin-bottom: 15px;
  }
  .header .navbar .offcanvas-header .navbar-brand {
    color: #00aeef;
  }
  .header .navbar .offcanvas-header .btn-close {
    margin-right: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.8;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .navbar .offcanvas-header .btn-close svg {
    fill: #00aeef;
  }
  .header .navbar .navbar-nav .nav-item {
    margin-bottom: 12px;
  }
  .header .navbar .navbar-nav .nav-item .nav-link {
    display: inline-block;
    color: #2e3235;
  }
  .header .navbar .navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 4px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #00aeef;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
         -o-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease, -o-transform 0.4s ease;
  }
  .header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #00aeef;
  }
  .header .navbar .navbar-nav .nav-item .nav-link:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
         -o-transform: scaleX(1);
            transform: scaleX(1);
  }
  .header .navbar .navbar-nav .nav-item .nav-link.active {
    font-weight: 500;
    color: #00aeef;
  }
  .header .navbar .navbar-nav .nav-item .nav-link.active::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
         -o-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease, -o-transform 0.4s ease;
  }
  .header .navbar .btn-login {
    border: 2px solid #00aeef;
    color: #00aeef;
  }
  .header .navbar .btn-login:hover {
    color: #ffffff;
  }
  .header .navbar .btn-login:hover::before {
    -webkit-box-shadow: inset 0 0 0 10em #00aeef;
            box-shadow: inset 0 0 0 10em #00aeef;
  }
}

.header .navbar-sticky-dark {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.08);
  top: 0;
}

.header .navbar-sticky-dark .offcanvas-header .navbar-brand {
  color: #00aeef;
}

.header .navbar-sticky-dark .navbar-nav .nav-item .nav-link {
  color: #2e3235;
}

.header .navbar-sticky-dark .navbar-nav .nav-item .nav-link:hover {
  color: #00aeef;
}

.header .navbar-sticky-dark .navbar-nav .nav-item .nav-link:hover::after {
  background-color: #00aeef;
}

.header .navbar-sticky-dark .navbar-nav .nav-item .nav-link.active {
  color: #00aeef;
}

.header .navbar-sticky-dark .navbar-nav .nav-item .nav-link.active::after {
  background-color: currentColor;
}

.header .navbar-sticky-dark .btn-login {
  border: 2px solid #00aeef;
  color: #00aeef;
}

.header .navbar-sticky-dark .btn-login:hover {
  color: #ffffff;
}

.header .navbar-sticky-dark .btn-login:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em #00aeef;
          box-shadow: inset 0 0 0 10em #00aeef;
}

.header .offcanvas-header {
  width: 100%;
  padding: 0;
}

.header .offcanvas-header .navbar-brand {
  font-family: "Baloo 2", cursive;
  font-size: 26px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .header .offcanvas-header .navbar-brand {
    color: #ffffff;
    font-size: 34px;
  }
}

.header .offcanvas-header .btn-close {
  background: none;
}

@media (min-width: 992px) {
  .header .offcanvas-header .btn-close {
    display: none;
  }
}

@media (max-width: 991px) {
  .header .mobile-offcanvas {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    width: 80%;
    z-index: 1200;
    overflow-x: hidden;
    -webkit-transition: visibility 0.3s ease, -webkit-transform 0.4s ease;
    transition: visibility 0.3s ease, -webkit-transform 0.4s ease;
    -o-transition: visibility 0.3s ease, -o-transform 0.4s ease;
    transition: visibility 0.3s ease, transform 0.4s ease;
    transition: visibility 0.3s ease, transform 0.4s ease, -webkit-transform 0.4s ease, -o-transform 0.4s ease;
  }
  .header .mobile-offcanvas.show {
    visibility: visible;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    background-color: #ffffff;
  }
}

.footer {
  background-color: #0c112a;
}

.footer .bg-blue {
  background-color: #267ae9;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #0c112a;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

@media (min-width: 992px) {
  .footer .bg-blue {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: none;
  }
}

.footer .bg-blue a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 56px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  padding: 0 10px;
}

@media (min-width: 992px) {
  .footer .bg-blue a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .bg-blue a:hover {
  color: #0c112a;
}

.footer .brand-logo {
  display: inline-block;
  color: #fff;
  margin-bottom: 36px;
  font-style: italic;
}

.footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #595f7c;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.footer h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 1px;
  margin: 0 0 22px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.footer .country-dropdown .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.footer .country-dropdown .btn img {
  width: 32px;
  margin-right: 10px;
}

.footer .country-dropdown .btn::after {
  display: none;
}

.footer .country-dropdown .btn svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 20px;
}

.footer .country-dropdown .dropdown-menu {
  -webkit-box-shadow: 0 6px 12px #0000002d;
          box-shadow: 0 6px 12px #0000002d;
  border-radius: 0;
  border: none;
}

.footer .country-dropdown .dropdown-menu li {
  margin: 8px auto;
}

.footer .country-dropdown .dropdown-menu li .dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #19506d;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.footer .country-dropdown .dropdown-menu li .dropdown-item:hover {
  color: #267ae9;
}

.footer .country-dropdown .dropdown-menu li .dropdown-item:active {
  background-color: #fff;
}

.footer .product-services {
  list-style-type: none;
}

.footer .product-services li {
  position: relative;
}

.footer .product-services li a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 3;
  color: #595f7c;
  white-space: nowrap;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.footer .product-services li a:hover {
  color: #fff;
}

.footer .row.row-style {
  border-top: 1px solid #1a2140;
  padding-top: 40px;
}

.footer .social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .footer .social-icons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .social-icons a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #192043;
  color: #fff;
  margin: 0 10px;
}

.footer .social-icons a:first-child {
  margin-left: 0;
}

.footer .social-icons a:last-child {
  margin-right: 0;
}

.footer .social-icons a:hover {
  color: #42b6ff;
}

.footer .subscribe-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer .subscribe-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .subscribe-wrap label {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  width: 150px;
}

.footer .subscribe-wrap label span {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer .subscribe-wrap label small {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 14px;
  color: #595f7c;
  line-height: 1;
}

.footer .subscribe-wrap .input-group input {
  font-family: "Montserrat", sans-serif;
  background: #121a3e;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer .subscribe-wrap .input-group button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #121a3e;
  border: 1px solid #929292;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.footer .subscribe-wrap .input-group button:hover {
  background-color: #267ae9;
  border-color: #267ae9;
}

.footer .sub-footer {
  background-color: #090d20;
  padding: 30px 0 0;
}

.footer .sub-footer p {
  text-align: center;
}

.footer .sub-footer .tech-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px 0;
}

.footer .sub-footer .tech-wrap img {
  margin: 8px;
  width: 42px;
}

.footer .sub-footer .foot-links a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #42b6ff;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer .sub-footer .foot-links a {
    margin-bottom: 0;
  }
}

.footer .sub-footer .foot-links a:hover {
  color: #0fa2ff;
}

.footer .sub-footer .foot-links span {
  color: #595f7c;
  margin: 0 8px;
}

.footer .sub-footer .copyrights {
  border-top: 1px solid #0c112a;
  line-height: 25px;
  padding: 20px 0;
  color: #595f7c;
  font-weight: 300;
  letter-spacing: 1px;
}
